<div class="holder wide med-margin lg-padding-right lg-padding-top">
    <!--<div class="social row lg-margin shadow bg-grey-solid">-->
        <!--<div class="inline col-md-3">Link in Facebook Account</div>-->
        <!--<div class="inline col-md-3">Link in Twitter Account</div>-->
        <!--<div class="inline col-md-3">Link in other media</div>-->
        <!--<div class="inline col-md-3">link to random page</div>-->
    <!--</div>-->

    <article class="row lg-margin-top lg-margin">
        <div class="col-md-3 high">
            <section class="bg-lightGreen ovrflw-y sm-padding sm-margin shadow">
                  <h3>cat.</h3>
                  <div class="cats"></div>
            </section>
        </div>
        <div class="col-md-3 high">
            <section class="bg-green ovrflw-y sm-padding sm-margin shadow">
                <h3>world news</h3>
                <div class='news'></div>
            </section>
        </div>
        <div class="col-md-3 high">
            <section class="ovrflw-y bg-lightGreen sm-padding sm-margin shadow">
                <h3>box3</h3>
                <ul>
                  <li></li>
                </ul>
            </section>
        </div>
        <div class="col-md-3 high">
            <section class="ovrflw-y bg-green sm-padding sm-margin shadow">
                <h3>box4</h3>
                <ul>
                    <li></li>
                </ul>
            </section>
        </div>
    </article>

  <!--<footer class="bg-black wide">-->
      <!--<span class="text-left">left text</span>-->
      <!--<span class="text-center"> center text</span>-->
      <!--<span class="text-right clear-right"> right text</span>-->
      <!--<p class="text-right"><a href="">Log-out</a></p>-->
  <!--</footer>-->
</div>
