<div class="holder wide med-margin lg-padding-right lg-padding-top">
    <!--<div class="social row lg-margin shadow bg-grey-solid">-->
        <!--<div class="inline col-md-3">Link in Facebook Account</div>-->
        <!--<div class="inline col-md-3">Link in Twitter Account</div>-->
        <!--<div class="inline col-md-3">Link in other media</div>-->
        <!--<div class="inline col-md-3">link to random page</div>-->
    <!--</div>-->

    <h1 class="text-right">
        <div id="clock" class="inline text-left">{{date | date : "h:mm:ss"}}</div><span id="pm">{{date | date : "a"}}</span>
    </h1>

    <article class="row lg-margin-top lg-margin">
        <div class="col-md-3 high">
            <form ng-submit="getTheReddit(subRedditName)" action="">
                <input class="wide cl-white" type="text" ng-model="subRedditName" placeholder="Images Subreddit"/>
                <input ng-hide="true" type="submit"></input>
            </form>
            <section class="sm-padding sm-margin shadow">
                  <h3>{{subRedditName}}</h3>
                  <ul class="no-decoration sm-padding ovrflw-y">
                      <li class="clear-right clear-left med-margin" ng-repeat="i in posts | limitTo:20" ng-show="$index > 0">
                          <span class="block">In <a class="clear-right"href="{{i.data.url}}">{{i.data.subreddit}}</a></span>
                          <img style="width: 125px" src="{{i.data.thumbnail}}" alt="{{i.data.subreddit}} images"/>
                      </li>
                  </ul>
            </section>
        </div>
        <div class="col-md-3 high">
            <form ng-submit="getTheRedditContent(subRedditContentName)" action="">
                <input class="wide cl-white" type="text" ng-model="subRedditContentName" placeholder="Images Subreddit"/>
                <input ng-hide="true" type="submit"></input>
            </form>
            <section class="sm-padding sm-margin shadow">
                <h3 >{{subRedditContentName}}</h3>
                <ul class="no-decoration sm-padding ovrflw-y">
                    <li class="clear-right clear-left" ng-repeat="i in contentPosts | limitTo: 20">
                        <span class="block">In <a class="clear-right"href="{{i.data.url}}">{{i.data.subreddit}}</a></span>
                        <p>{{i.data.title}}"</p>
                        <hr/>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-md-3 high">
            <form ng-submit="getTheGit(gitUser)" action="">
                <input class="wide cl-white" type="text" ng-model="gitUser" placeholder="Images Subreddit"/>
                <input ng-hide="true" type="submit"></input>
            </form>
            <section class="sm-padding sm-margin shadow">
                <h3 id="bigHead" class="no-margin block lg-padding-top">
                    <span class="lg-margin-top" style="position: relative">{{gitUser}}</span>
                    <img class="absolute-top-right lg-margin-right" style="width:50px; border-radius: 3px;" src="{{gitPosts[0].owner.avatar_url}}" alt="avatar image of github user"/>
                </h3>
                <ul id="bigUl" class="no-decoration sm-padding ovrflw-y">
                    <li class="clear-right clear-left" ng-repeat="i in gitPosts | limitTo: 20">
                        <span class="block">In <a class="clear-right"href="{{i.html_url}}">{{i.name}}</a></span>
                        <p>{{i.description}}"</p>
                        <hr/>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-md-3 high">
            <section class="ovrflw-y sm-padding sm-margin shadow">
                <h3>box4</h3>
                <ul>
                    <li></li>
                </ul>
            </section>
        </div>
    </article>

  <!--<footer class="bg-black wide">-->
      <!--<span class="text-left">left text</span>-->
      <!--<span class="text-center"> center text</span>-->
      <!--<span class="text-right clear-right"> right text</span>-->
      <!--<p class="text-right"><a href="">Log-out</a></p>-->
  <!--</footer>-->
</div>
