<h1>Header for User's personalized page!!</h1>
<p>there should be text below this</p>
<p>{{works}}</p>
<p>and above this if angular is working</p>


<div class="container">
    <header class="bg-black">
        <span class="cl-white float-left">Person's name</span>
        <ul class="inline no-margin float-right cl-white">
            <li class="inline"><a href=""><button class="btn cl-white bg-blue">Settings</button></a></li>
            <li class="inline"><a href=""><button class="btn cl-white bg-blue">Log-in</button></a></li>
            <li class="inline"><a href=""><button class="btn cl-white bg-blue">Log-out</button></a></li>
        </ul>
    </header>

    <h1>
        <!--Name goes here-->
        <!--<p>Date and time go here</p>-->
        <!--<p><span>Some aside information</span><a href="">link to something</a></p>-->
    </h1>

    <article>
        <section>
            <h3>Box1</h3>
            <ul>
                <li></li>
            </ul>
        </section>
        <section>
            <h3>box2</h3>
            <ul>
                <li></li>
            </ul>
        </section>
        <section>
            <h3>box3</h3>
            <ul>
                <li></li>
            </ul>
        </section>
        <section>
            <h3>box4</h3>
            <ul>
                <li></li>
            </ul>
        </section>
    </article>

    <footer>
        <span class="text-left">left text</span>
        <span class="text-center"> center text</span>
        <span class="text-right clear-right"> right text</span>
        <p class="text-right"><a href="">Log-out</a></p>
    </footer>

</div>