$blue: blue;
$red: red;
$green: green;
$white: white;
$darkGrey: darkgrey;
$black: black;

/* Layouts and disign classes
///////////////////////////////////////////////////////////////// */
.inline {
  display: inline-block;
  position: relative;
}
.shadow {
  -webkit-box-shadow: 0px 1px 9px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 9px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 9px 2px rgba(0,0,0,0.75);
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clear-right {
  clear:right;
}
.clear-left {
  clear: left;
}
.no-decoration {
  text-decoration-style: none;
}
.no-underline {
  text-decoration: none;
}

/* Padding classes
///////////////////////////// */
.no-padding {
  padding:0;
}
.sm-padding {
  padding: 3px;
}
.med-padding {
  padding: 10px;
}
.lg-padding {
  padding: 20px;
}
.sm-padding-left {
  padding-left: 3px;
}
.med-padding-left {
  padding-left: 10px;
}
.lg-padding-left {
  padding-left: 20px;
}
.sm-padding-right {
  padding-right: 3px;
}
.med-padding-right {
  padding-right: 10px;
}
.lg-padding-right {
  padding-right: 20px;
}
.sm-padding-top {
  padding-top: 3px;
}
.med-padding-top {
  padding-top: 10px;
}
.lg-padding-top {
  padding-top: 20px;
}
.sm-padding-bottom {
  padding-bottom: 3px;
}
.med-padding-bottom {
  padding-bottom: 10px;
}
.lg-padding-bottom {
  padding-bottom: 20px;
}

/* Margin classes
///////////////////////////// */
.no-margin {
  margin: 0;
}
.sm-margin {
  margin: 3px;
}
.med-margin {
  margin: 10px;
}
.lg-margin {
  margin: 20px;
}
.sm-margin-left {
  margin-left: 3px;
}
.med-margin-left {
  margin-left: 10px;
}
.lg-margin-left {
  margin-left: 20px;
}
.sm-margin-right {
  margin-right: 3px;
}
.med-margin-right {
  margin-right: 10px;
}
.lg-margin-right {
  margin-right: 20px;
}
.sm-margin-top {
  margin-top: 3px;
}
.med-margin-top {
  margin-top: 10px;
}
.lg-margin-top {
  margin-top: 20px;
}
.sm-margin-bottom {
  margin-bottom: 3px;
}
.med-margin-bottom {
  margin-bottom: 10px;
}
.lg-margin-bottom {
  margin-bottom: 20px;
}

/* Text Layout Class
///////////////////////////// */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.light {
  font-weight: 200;
}
.medium {
  font-wieght:300;
}
.heavy {
  font-weight:700;
}

/* Font Color classes
///////////////////////////// */
.cl-white {
  color: $white;
}
.cl-blue {
  color: $blue;
}
.cl-red {
  color: $red;
}
.cl-green {
  color: $green;
}
.cl-white {
  color: $white;
}
.cl-dkgrey {
  color: $darkGrey;
}
.cl-black {
  color: $black;
}

/* Background Color classes
///////////////////////////// */
.bg-white {
  background-color: $white;
}
.bg-blue {
  background-color: $blue;
}
.bg-red {
  background-color: $red;
}
.bg-green {
  background-color: $green;
}
.bg-white {
  background-color: $white;
}
.bg-dkgrey {
  background-color: $darkGrey;
}
.bg-black {
  background-color: $black;
}