!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
      %title Team3
      %link{"data-require" => "bootstrap-css", "data-semver" => "3.1.1", :href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel => "stylesheet"}/
      %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
        %link{:href => "css/styles.scss", :rel => "stylesheet"}
  %body{"ng-app" => "team3-ng-features"}
    .container{"ng-view" => ""}
    / vendors
    -#%script{:src => "bower_components/angular/angular.js"}
    -#%script{:src => "bower_components/angular-route/angular-route.js"}
    -#%script{:src => "bower_components/bower_components/lodash/dist/lodash.js"}
    / main app module / directive
    -#%script{:src => "public/js/app.js"}
    -#%script{:src => "public/js/homeCtrl.js"}
    -#%script{:src => "public/js/homeSvc.js"}
    / user home
    -#%script{:src => "public/js/userHomeMod/userHome.js"}
    -#%script{:src => "public/js/userHomeMod/userHomeCtrl.js"}
    -#%script{:src => "public/js/userHomeMod/userHomeSvc.js"}
