%div.wide{ ng: {view: ""}}
%br
%div.row#users.shadow
  %h2.bg-dk-green.inline.col-md-4.high.no-margin.med-padding 
    - @users.each do |user|
      = user.email
      = link_to "Add Friend", friendships_path(friend_id: :user), method: :post
      %br
  %ul.no-margin.bg-white.block.col-md-8.high.med-padding.no-decoration
    %li.no-decoration
      Friends:
      %br 
      - current_user.friendships.each do |friendship| 
        = friendship.friend.email
    %br  

    %li.no-decoration more words
  %br
  
  - current_user.friendships.each do |friendship| 
    = friendship.friend.email
    %br  
    /= friendship.workflow_state
    /= link_to "remove", friendship, method: :delete
