!!!
%html{:lang => "en", :ng => {app:"team3-ng-features"}}
  %head
    %title Team3
    %link{"data-require" => "bootstrap-css", "data-semver" => "3.1.1", :href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/styles.scss", :rel => "stylesheet"}
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %body{"ng-javascript" => "team3-ng-features"}
    %div.navHead.block.bg-black.lg-padding.no-margin.heavy.cl-green
      -#= login_links
      %p.absolute-top-left
        %span
          / Anchor trigger modal
          %a.cl-light-green.cl-dk-green-hover.sm-padding-right.tall.light{"data-target" => "#myModal", "data-toggle" => "modal", :href => ""} Log In
          / Modal
          %div
          #logInModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} &times;
                    %span.sr-only Close
                  %h4#myModalLabel.modal-title Sign up
                .modal-body
                  %form{:action => ""}
                    %input{:placeholder => "User Name", :type => "text"}/
                    %input{:placeholder => "Password", :type => "text"}/
                    %a.cl-green-hover.cl-dk-green{"data-target" => "#myModal", "data-toggle" => "modal", :href => ""} Forgot My Password
                    %button.button Submit
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                  %button.btn.btn-primary{:type => "button"} Save changes
        %span
          %a.sm-padding-left.sm-padding-right.cl-light-green.light.tall.cl-green-hover{:href => "/users/settings"} Settings
        %span
          / Anchor trigger modal
          %a.sm-padding-left.cl-light-green.light.tall.cl-green-hover{"data-target" => "#myModal", "data-toggle" => "modal", :href => ""} Sign up
          / Modal
          #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"data-dismiss" => "modal", :type => "button"}
                    %span{"aria-hidden" => "true"} &times;
                    %span.sr-only Close
                  %h4#myModalLabel.modal-title Sign up
                .modal-body
                  %form{:action => ""}
                    %input{:placeholder => "Name", :type => "text"}/
                    %input{:placeholder => "User Name", :type => "text"}/
                    %input{:placeholder => "Password", :type => "text"}/
                    %input{:placeholder => "Confirm Password", :type => "text"}/
                    %input{:placeholder => "Other", :type => "text"}/
                    %button.button Submit
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                  %button.btn.btn-primary{:type => "button"} Save changes
      %h1.cl-green.text-right.med-padding-right.lg-margin-top.sm-margin-bottom.no-margin @home
    = yield
